html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* setup-top */
.top {
    display: flex;
    height: 69px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    
}

.logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.logo img {
    height: 50px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.top-button {
    margin-left: 16px;
    text-decoration: none;
    
}

.top-button a {
    color: seashell;
}

.title {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-size: cover;
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

.title-text {
    background-color: black;
    height: 140px;
}

.title-text h2 {
    display: flex;
    justify-content: center;
}

.title-text h4 {
    display: flex;
    justify-content: center;
}

/* product-setup */
.product {
    width: 1000px;
    margin: auto;
    margin-bottom: 70px;
}

.tea-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.tea-content {
    display: flex;
    justify-content: center;
}

.product-content {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-img {
    width: 300px;
    height: 200px;
    display: flex;
    margin: 10px;
}

.proudct-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

}

/* locations-setup */
.locations {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    height: 500px;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;

}   


.locations-titls {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.locations-titls h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.shop-locations-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

   .shop-locations {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    opacity: 1;
    margin-left: 20px;
    margin-right: 20px;
}

/* setup-footer */
.shop-info {
    height: 200px;
    margin-top: -20px;
}

.shop-name {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.shop-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    margin-top: -10px;
}

.phone {
    display: flex;
    align-content: center;
    margin-top: -30px;
}

.copy-right {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}